//
// Home page style
// ==============================================================
//


#home-container {
  @item-column-padding: 20px;

  margin-bottom: -(@item-column-padding * 1.5);

  .item-column {
    padding: 0 @item-column-padding / 2;

    &.first-column {
      padding: 0 @item-column-padding 0 0;
    }

    &.last-column {
      padding: 0 0 0 @item-column-padding;
    }

    &.first-column.last-column {
      padding: 0;
    }
  }

  .home-item {
    padding: 0;
    margin-bottom: @item-column-padding * 1.5;

    // DEV
    background: grey;
    min-height: 200px;
  }
}
