//
// Home page style
// ==============================================================
//


#home-container {
  @item-space: 30px;

  margin-bottom: -@item-space;

  .item-column {
    &.column-n-1 {
      padding: 0;
    }

    &.column-n-2 {
      &.first-column {
        padding: 0 (@item-space / 2) 0 0;
      }
      &.last-column {
        padding: 0 0 0 (@item-space / 2);
      }
    }

    &.column-n-3 {
      padding: 0 (@item-space / 3);

      &.first-column {
        padding: 0 (@item-space / 3 * 2) 0 0;
      }
      &.last-column {
        padding: 0 0 0 (@item-space / 3 * 2);
      }
    }
  }

  .home-item {
    padding: 0;
    margin-bottom: @item-space;

    // DEV
    background: grey;
    min-height: 10px;
  }
}
