//
// Photos page style
// ==============================================================
//


@item-space:        30px;
@item-space-mobile: 15px;

#photos-container {
  margin-bottom: -@item-space-mobile;
  overflow: hidden;
  .items-organizer(@item-space);

  .item {
    margin-bottom: @item-space-mobile;
    padding: 0;
    overflow: hidden;
    position: relative;
    box-shadow: none;

    [role="img"] {
      display: block;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, 0.4);
    }

    .photo-title {
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      bottom: -100%;
      text-align: center;
      color: white;
      background: rgba(0, 0, 0, 0.6);
      line-height: @font-size-base * 2;
      .default-animation();
    }

    &:hover, &:focus {
      .photo-title {
        bottom: 0;
      }
    }
  }

  .message {
    margin: @item-space-mobile 0;
    font-size: @font-size-large;
    text-align: center;
    color: @tdm-text-color-light;
  }
}


// For tablet and desktop
@media (min-width: @screen-sm-min) {
  #photos-container {
    margin-bottom: -@item-space;

    .item {
      margin-bottom: @item-space;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    .message {
      margin: @item-space 0;
    }
  }
}
