//
// Application LESS mixins
// ==============================================================
//


.default-text-shadow () {
  text-shadow: 2px 2px 10px #333333;
  &:hover, &:focus {
    text-shadow: 2px 2px 8px black;
  }
}


.default-animation (@duration: 0.2s) {
  .transition(all @duration ease);
}


.hover-to-color (@hoverColor) {
  .default-animation();
  &:hover, &:focus {
    color: @hoverColor;
    text-decoration: none;
  }
}
