###### IDEA ######
*.idea/workspace.xml
*.idea/tasks.xml

###### System files ######
*._*
*.DS_Store*
*.Spotlight-V100
*.Trash
*.Trashes
*$RECYCLE.BIN/
*Icon?
eh[Tt]humbs.db
Thumbs.db
Desktop.ini

###### Project ######
node_modules
bower_components
dist
.tmp

www-old
