//
// Home page style
// ==============================================================
//


@item-space:        30px;
@item-space-mobile: 15px;
@item-content-space: 8px;

#home-container {
  margin-bottom: -@item-space-mobile;
  overflow: hidden;
  .items-organizer(@item-space);

  .item {
    margin-bottom: @item-space-mobile;
    padding: 0;
    overflow: hidden;
    background: white;
    box-shadow: none;

    .item-title {
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 1.1em;
      color: white;
      text-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
      background-color: #555555;
      background-size: 800px 80px;
      background-position: center center;

      &.pattern-1 {
        background-image: url('../images/home-item-pattern-1.png');
      }

      &.pattern-2 {
        background-image: url('../images/home-item-pattern-2.png');
      }

      &.pattern-3 {
        background-image: url('../images/home-item-pattern-3.png');
      }

      > span {
        display: inline-block;
        padding: 0 6px;
        line-height: 1.2em;
        vertical-align: middle;
      }

      img {
        width: 1.7em;
        height: auto;
        padding-bottom: 2px;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
      }
    }

    .item-content {
      padding: @item-content-space;
      font-size: 0.9em;
      text-align: justify;
      color: #444444;
    }

    .item-year {
      padding: 2px 0;
      margin-top: @item-content-space;
      text-align: center;
      color: #888888;
    }

    .item-links {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: @item-content-space 0 0 0;

        a {
          display: block;
          font-size: @font-size-base;
          padding: 6px;
        }
      }
    }
  }
}


// For tablet and desktop
@media (min-width: @screen-sm-min) {
  #home-container {
    margin-bottom: -@item-space;

    .item {
      margin-bottom: @item-space;
      .default-box-shadow();

      .item-year {
        float: left;
        text-align: left;
      }

      .item-links {
        float: right;

        li {
          float: right;
          margin: @item-content-space 0 0 @item-content-space;

          a {
            display: inline-block;
            font-size: @font-size-small;
            padding: 1px 5px;
          }
        }
      }
    }
  }
}
