// Project-wide variables and mixins, including bootstrap ones
// (!) Do not declare global styles here, use global-styles.scss
// (!) You may want to import this file inside Vue components

// Override Bootstrap variables
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 1.25rem;

// Override FontAwesome variables
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Include vendors variables and mixins at the end of the file
// In order to make them available to Vue components
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~@fortawesome/fontawesome-free/scss/variables';
@import '~@fortawesome/fontawesome-free/scss/mixins';

// App variables
$standard-border-radius: 0.7rem;

// App mixins
@mixin animate($properties: all, $duration: 0.3s, $timing-function: ease) {
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-property: $properties;
}

@mixin title-divider() {
  &::before {
    content: '';
    display: block;
    border-top: 0.13rem solid var(--background-3-color);
    margin: 2rem auto;
    width: 50%;
  }
}
