<div id="about-container" class="container-fluid">

  <h2>À propos</h2>

  <div class="avatar">
    <img src="http://www.gravatar.com/avatar/0d992c3b1b178607c6a6cd98f7d33d2c?s=256" alt="Avatar" title="Avatar">
  </div>

  <p>Bien le bonjour ! Je vous souhaite la bienvenue sur mon site personnel qui a pour but de centraliser mes activités personnelles et professionnelles. Je m'appelle Thomas, j'ai 24 ans et je suis ingénieur mais surtoût passionné d'informatique. J'habite sur notre belle Côte d'Azur, dans la région de Sophia Antipolis. J'ai fait mes études à l'IUT d'Aix-en-Provence et à Polytech'Nice-Sophia.</p>
  <p>Dans ce vaste domaine qu'est l'informatique, je m'intéresse à beaucoup de choses. J'aime découvrir de nouvelles technologies (Web dynamique, développement mobile...), j'aime créer, et j'aime réfléchir et me poser (trop) de questions. Pour une présentation plus professionnelle et technique sur mes compétences et mes expériences, je vous invite à visiter mon <a href="https://www.linkedin.com/pub/thomas-di-meco/60/329/500">profil LinkedIn</a>.</p>
  <p>Mes autres passions sont les jeux vidéo et la photographie (photo de mise en scène, de portrait, astrophotographie...), qui est une découverte récente et que j'apprécie particulièrement.</p>
  <p>Je reste à votre disposition si vous souhaitez me contacter, que ce soit pour en savoir davantage ou simplement pour poser une question.</p>

  <p class="contact-me">
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#116;&#100;&#105;&#109;&#101;&#99;&#111;&#46;&#102;&#114;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#91;&#116;&#100;&#105;&#109;&#101;&#99;&#111;&#46;&#102;&#114;&#93;">E-Mail</a>
    &mdash;
    <a href="https://www.linkedin.com/pub/thomas-di-meco/60/329/500">LinkedIn</a>
    &mdash;
    <a href="https://twitter.com/thomasdimeco">Twitter</a>
  </p>

</div>
