<div id="home-container" class="container-fluid">
  <div class="row" items-organizer>
    <div class="item-column item-column-1 col-md-4 col-sm-6 col-xs-12">

      <div ng-repeat="item in homeItems" class="item" data-item-order="{{$index}}" on-repeat-end-event>
        <div class="item-title pattern-{{$index % 3 + 1}}" ng-style="{'background-color': item.color}">
          <span>
            <img ng-src="images/icons/icon-{{item.key}}.png" title="" alt="" role="presentation">
            <span ng-bind-html="item.title"></span>
          </span>
        </div>
        <div class="item-content clearfix">
          <div class="item-description" ng-bind-html="item.description"></div>
          <div class="item-year">{{item.year}}</div>
          <ul class="item-links">
            <li ng-repeat="link in item.links">
              <a ng-href="{{link.url}}" class="btn btn-xs btn-{{link.style ? link.style : 'default'}}">
                {{link.label ? link.label : 'En savoir plus...'}}
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="item-column item-column-2 col-md-4 col-sm-6 hidden-xs"></div>
    <div class="item-column item-column-3 col-md-4 hidden-xs hidden-sm"></div>
  </div>
</div>
