<div id="photos-container" class="container-fluid">
  <div class="row" items-organizer>
    <div class="message col-xs-12" ng-show="message" ng-bind-html="message"></div>
    <div class="item-column item-column-1 col-md-4 col-sm-6 col-xs-12">
      <div ng-repeat="photo in photosItems" class="item" data-item-order="{{$index}}" on-repeat-end-event>
        <a ng-href="{{photo.pageUrl}}">
          <span role="img"
                title="{{photo.title}}"
                ng-style="{'background-image': 'url(' + photo.imageUrl + ')', 'padding-top': (photo.height / photo.width * 100) + '%'}"></span>
        </a>
      </div>
    </div>
    <div class="item-column item-column-2 col-md-4 col-sm-6 hidden-xs"></div>
    <div class="item-column item-column-3 col-md-4 hidden-xs hidden-sm"></div>
  </div>
</div>
