<div id="terms-container" class="container-fluid">

  <h2>Mentions légales</h2>

  <div class="terms-cell terms-cell-left col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
    <div class="cell-content">
      <p class="cell-title">Site web personnel créé par :</p>
      <p class="cell-text">
        <a href="about">Thomas Di Meco</a>
      </p>
    </div>
  </div>

  <div class="terms-cell terms-cell-right col-xs-12 col-sm-6 col-md-4">
    <div class="cell-content">
      <p class="cell-title">Hébergé par :</p>
      <p class="cell-text">
        <a href="https://www.ovh.com">OVH</a><br>
        Siège social<br>
        2 rue Kellermann<br>
        59100 Roubaix &mdash; France
      </p>
    </div>
  </div>

</div>
